  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Notes App</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/about">About</a></li>
          <li><a class="nav-link scrollto" href="/notes">Notes</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
          {% if user == none %}
          <li><a class="getstarted scrollto" href="/login">Login</a></li>
          <li><a class="getstarted scrollto" href="/signup">SignUp</a></li>
          {% else %}
          <li class="dropdown"><a href="#"><span>{{user}}</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/profile">Profile</a></li>
              <hr>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->